.canvasContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 0 1rem;

  /* margin: 0 auto;    */
}
.sensorType {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.chartContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.changegraphbutton {
  background: none;
  border: none; 
    
  font: inherit; 
  color: inherit; 
  cursor: pointer; 
  outline: none; 
  height: 90px;
  width: 90px;
}
.selctor{
  padding: 10px;
}
.sensorBox{
  padding: 20px;
}
.graph1{
  display: flex;
      flex-direction: column;
      height: 100vh;
}