.SensorsCharts {
  display: grid;
  grid-template-areas:
        'sensorType sensorType'
        'selectors graph';
  grid-template-columns: 25% 70%;
  grid-template-rows: 60px 1fr;
  height: 100%;
}

.selectors {
  grid-area: selectors;
  display: flex;
  gap: 3rem;
  padding: .5rem;
  flex-direction: column;
  height: 200px;
}

.sensorType {
  grid-area: sensorType;
  width: 40%;
  justify-self: center;
}


.changegraphbutton {
  grid-area: changegraphbutton;
  background: none;
  border: 10px solid rgba(128, 128, 128, 0.484);
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  height: 42px;
  /* width: 42px; */
  

  color: var(--button-not-active-text-color);
  background-color: var(--button-not-active-background-color);
  border: var(--button-not-active-border);

}
.changegraphbutton:hover{
  color: var(--active-button-text-color);
  background-color: var(--active-button-text-background-color);
  border: var(--active-button-border);
  border-radius: var(--active-button-border-radius);
  box-shadow: var(--active-button-box-shadow);
}

.sensorBox {
  padding: 20px;
}

.graph1 {
  grid-area: graph;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* color: rgb(204, 255, 0); */
}
