.main_layout{
        display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    background-color: #eee;
}
.main_content{
    height: 100vh;
    width: 100%;
    padding: .5rem 1rem;
}