.grid_container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        'generatorArea alerts';
    grid-template-columns: 5fr 3fr;
    gap: 0.5rem;
}

.generatorArea {
    grid-area: generatorArea;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.buttons {
    display: flex;
    gap: 30rem;
    /* height: 50px; */
    width: 100%;
    /* padding: 0 30px; */
    justify-content: start;
}

.search{
    width: fit-content;
}

.box_button {
    width: fit-content;
}

/* .compare_button {
    background-color: inherit;
    color: var(--secondary-color-dark);
    box-shadow: var(--active-button-box-shadow);
    border: 1px solid rgba(160, 160, 160, 0.756);
    text-align: center;
    width: 100px;
    border-radius: 5px;
    padding: 2px;
    height: 50px;
    line-height: 50px;
    align-self: center;
} */

.genList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

.gen {
    background-color: inherit;
    border: 3px solid #1c376f9e;
    color: var(--secondary-color-dark);
    width: 230px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

.gen_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.compare_btn {
    cursor: pointer;
    font-size: 1.7rem;
}

.gen_status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.gen_status.proper {
    background-color: var(--sensor-anomaly-normal);
}

.gen_status.anomaly {
    background-color: var(--sensor-anomaly-mild);
}

.gen_status.error {
    background-color: var(--sensor-anomaly-severe);
}

.gen_status.disconnected {
    background-color: gray;
}

.gen_header {
    color: var(--secondary-color-dark);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gen_header span {
    font-size: 1.2rem;
    font-weight: 700;
}


.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-grow: 1;
}

.sensor_avgs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.sensor_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    width: 100%;
}

.avg_badge {
    background-color: lightgray;
    height: 30px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: #313131;
}

.avg_badge.normal {
    background-color: #00b800d6;
}

.avg_badge.mild {
    background-color: #fdb600db;
}

.avg_badge.moderate {
    background-color: #fe6600e4;
}

.avg_badge.severe {
    background-color: #ff0000c9;
}

.last_update {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    >span:last-child {
        font-weight: 500;
    }
}

img {
    width: 120px;
    height: 70px;
}

.alerts {
    grid-area: alerts;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    direction: ltr;
}

/* .header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
} */

.insights, .limit {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: auto;
}
.insights a {
    font-size: 14px;
    color: var(--secondary-color-dark);
    text-decoration: underline;
}

.content_but {
    margin: 0;
    background-color: var(--options-button-background-color);
    padding: 5px 12px;
    border-radius: 5px;
    border: 2px;
    cursor: pointer;
    width: 100px;
    align-self: center;
}