.main_nav_li {
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    border-inline-start: 2px solid transparent;
    border-inline-end: 2px solid transparent;
    justify-content: center;
}

.main_nav_li:hover {
  border-inline-end: 2px solid #ffffff;
}

.main_nav_li > li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0rem .5rem;
     
}



.main_nav_li> li > svg {
  font-size: 2.5rem;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  width: max-content;
  border: 1px solid #ffffff;
  background: #1c376f;
  padding: 0.3rem 0.4rem;
  translate: -60% 50%;
  -webkit-box-shadow: 5px 4px 7px -4px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 5px 4px 7px -4px rgba(0, 0, 0, 0.64);
  box-shadow: 5px 4px 7px -4px rgb(59 59 59);
  border-radius: 0.3rem;
}
.main_nav_li:hover .tooltiptext {
  visibility: visible;
}

.active {
  border-inline-end: 2px solid #498fcc;
  
}


.main_nav_li > li > div{
  text-wrap: nowrap;
}
.main_nav_li > li > div.fadeIn{
animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}