

.technician{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding:10px;
    font-size: small;
    overflow-y: scroll;
}

.right{
    display: flex;
    gap :2rem;
    padding: 10px;
}

.left{
    display: flex;
    gap:1rem;
    padding: 10px;
}


.details{
    display: flex;
    justify-content: space-between;
}


.date{
    display: flex;
    flex-direction: column;
    gap:0.1rem;
}


.fields{
    padding: 20px;
    white-space: pre-wrap;
}


.checkBox{
    background-color: green;
    color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.warning{
    background-color:magenta;
    color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.img{
  height: 70px;  
  width: 70px;
  border-radius: 50%;
}