.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 12vh;
    background-color: #fff;
    position: fixed;
    left: .5rem;
    bottom: .5rem;
    border: 3px solid;
}

.warning {
    border-color: rgb(228, 199, 10);
    background-color: rgb(254, 221, 5);
}

.succcess {
    border-color: #14AC07;
    background-color: #1adf08;
}

.danger {
    border-color: #de0064;
    background-color: #FF0073;
}