.gen_details {
    grid-area: gen-details;
}

.insights {
    grid-area: insights;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.charts {
    grid-area: charts;
}

.live_info {
    grid-area: live-info;
}

.grid_container {
    display: grid;
    grid-template-areas:
        'gen-details gen-details insights insights'
        'charts charts charts charts'
        'live-info live-info live-info live-info';
    gap: 1rem;
    padding: 20px 20px;
    grid-template-rows: 300px 50px 1fr;
    grid-template-columns: 23% 23% 23% 1fr;
}

.grid_container >div > h3 {
    text-align: center;
}

.select {
    display: flex;
    gap: 0.5rem;
}

.all_insights {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: auto;
}