.box{
    border: 1px solid rgba(160, 160, 160, 0.756);
    width: fit-content;
    padding: 8px;
    border-radius: 5px;
    
}
.box menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.selected{
    box-shadow: var(--active-button-box-shadow);
}
.box menu button{
    padding: 2px 7px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}