
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Air_force_logo_wrapper{
    /* border: 2px solid red; */
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Air_force_logo{
    height: 100px;
    width: 100px;
}

.loginButton{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.loginButton:hover{cursor: pointer;}

.midLevelWrapper{
    border: 2px solid lawngreen;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.midLevel{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
}