/* .canvasContainer{
     display: flex;
    flex-direction: row; 
     justify-content: space-between;
    gap: 20px;
     width: 300px;
     height: 300px;
    
    margin: 0 auto;   
}
  .canvasContainer {
    position: relative;
    /* margin-top: 20px; Adjust spacing */
/* } */

.canvasContainer {
  width: 300px;
}
