.canvasContainer{
     display: flex;
    flex-direction: row; 
     /* justify-content: space-evenly; */
    gap: 0 1rem;
    
    
    /* margin: 0 auto;    */
}
 .graph1{
  width: 20vw;
  height: 40vh;
 }
  .chartContainer{
    display: flex;
    flex-direction: column;
    gap:5px
  }

