@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  direction: rtl;
}

/* vars */

:root {
  --options-button-text-color: rgb(255, 255, 255);
  --options-button-background-color: #ffffff;
  --main-color: rgb(0, 0, 0);
  --secondary-color-dark: #1C376F;
  --secondary-color-light: #498FCC;


  /* checkbox */
  --checkbox-average-color: #824ea8;
  --checkbox-sensor1-color: #00bdd0;
  --checkbox-sensor2-color: #ef5484;
  --checkbox-sensor3-color: #a4c420;

  /* h1*/
  --h1-font-size: 32px;
  --h1-font-weight: 500;
  --h1-font-color: #498fcc;

  /* h3 */
  --h3-font-size: 20px;
  --h3-font-color: #000000;
  --h3-font-weight: 400;

  /* h2 */
  --h2-font-size: 20px;
  --h2-font-weight: 700;
  --h2-font-color: #062b59;

  /* date */
  --date-font-size: 14px;
  --background-color: #000000;

  /* technician */
  --technician-name-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
  --technician-name-font-weight: 500;

  /* sensor */
  --sensor-font-weight: 400;
  --sensor-name-color: #000000;

  /* inputs and selectors */
  --input-background-color: #ffffff;
  --input-border: 1.5px solid #498fcc;
  --input-border-radius: 8px;

  /* active button */
  --active-button-text-color: #000000;
  --active-button-text-background-color: #ffffff;
  --active-button-border-radius: 8px;
  --active-button-border: none;
  --active-button-box-shadow: 0px 8px 10px -9px rgb(0, 0, 0);

  /* button not active */
  --button-not-active-text-color: rgba(0, 0, 0, 0.7);
  --button-not-active-background-color: #ffffff;
  --button-not-active-border: #ffffff;

  /* error */
  --error-background-color: rgba(233, 27, 27, 0.3);
  /* graphs-background-color */
  --graphs-background-color: rgba(178, 178, 178, 0.2);

  /* navBar */
  --navBar-background-color: #062B59;
}

svg {
  font-size: 20px;
}


.n {
  padding: var(--example);
}