.main {
    border: 2px solid rgb(254, 221, 5);
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.7rem;
    font-size: 14px;
}

.but {
    width: 5.5rem;
    margin: 0;
    /* background-color: inherit; */
    background-color: azure;
    border: none;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.context {
    font-weight: 500;
    display: inline-block;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.warning {
    border-color: rgb(250 204 21); /*yellow-400*/
    background-color: rgb(254 240 138); /*yellow-200*/
    color: rgb(161 98 7); /*yellow-700*/
}

.succcess {
    border-color: rgb(74 222 128); /*green-400*/
    background-color: rgb(187 247 208); /*green-200*/
    color: rgb(21 128 61); /*green-700*/
}

.danger {
    /* background-color: rgb(255, 153, 153); */
    /* color: rgb(216, 83, 83); */
    border-color: rgb(248 113 113); /*red-400*/
    background-color: rgb(254 202 202); /*red-200*/
    color: rgb(185 28 28); /*red-700*/
}

/* 
warning: {border: "rgb(228, 199, 10)", bac: "rgb(254, 221, 5)"},
    danger: {border: " #de0064", bac: "#FF0073"},
    succcess: {border: "#14AC07", bac: "#1adf08"}, */