.container {
  margin: 20px auto;
  padding: 5px;
  max-width: 800px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.form {
  position: relative;
}

.form input,
.form select {
  padding: 8px;
  font-size: 14px;
  width: 150px;
  border-radius: 20px;
  padding-left: 20px;
}

.input-wrapper select {
  appearance: none;
  padding-right: 30px;
  background-image: url('/path/to/arrow-down-icon.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}